.overlay {
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.modal {
	max-width: 600px;
	width: 100%;
	background-color: var(--secondary);
	padding: 24px;
	border-radius: 8px;

	display: flex;
	flex-direction: column;
	gap: 24px;
	box-shadow: 0px 3px 3px var(--box-shadow);
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 4px;
	border-bottom: 1px solid black;
}

.close_button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f74c4c;
	border: none;
	border-radius: 4px;
	padding: 6px;
	cursor: pointer;
	transition: all 0.15s ease;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0px 3px 3px var(--box-shadow);
	}

	&:active {
		transform: translateY(0px) scale(0.98);
		box-shadow: 0px 0px 0px var(--box-shadow);
	}
}

.close_icon {
	color: var(--white);
	width: 24px;
	height: 24px;
}
