.footer {
	background-color: var(--primary);
	color: var(--white);
	padding: 8px;
	border-radius: 8px 8px 0 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;

	text-align: center;
}

.link {
	font-weight: 500;
	transition: color 0.15s ease;

	&:hover {
		color: var(--highlight);
	}
}

.rights {
	font-size: 0.9rem;
}
