.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid var(--black);
	color: var(--black);
}

.container_buttons {
	display: flex;
	gap: 12px;
}

@media screen and (max-width: 675px) {
	.header {
		align-items: center;
		gap: 8px;
		flex-direction: column;
		font-size: 0.9rem;
	}

	.container_buttons {
		justify-content: center;
		width: 100%;
		gap: 8px;
    
		&  * {
      font-size: 0.85rem;
			flex-grow: 1 !important;
		}
	}
}
