.input_group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.label {
	font-weight: 500;
}

.input {
	padding: 8px;
	border-radius: 4px;
	background-color: var(--white);
	border: 1px solid var(--box-shadow);
}

.input[type="color"] {
	padding: 1px;
	width: 100%;
	cursor: pointer;
}

.error {
	color: red;
}
