.event {
	position: relative;
	padding: 20px;
	gap: 10px;
}

.wrapper_content {
	width: 100%;
	display: grid;
	grid-template-columns: 1.5fr 2fr 2fr;

	gap: 30px;
}

.header {
	display: contents;
}

.wrapper_content > *:not(:first-child) {
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	padding-left: 20px;
}

.wrapper_menu {
	position: absolute;
	top: 10px;
	right: 10px;
}

.expired {
	margin-top: 0px;
}

.body {
	height: 100%;
}

.description {
	width: 90%;
	word-break: break-all;
}

@media screen and (max-width: 675px) {
	.wrapper_content > *:not(:first-child) {
		border: none;
		padding: 0px;
	}

	.wrapper_content {
		display: flex;
		flex-direction: column;
	}

	.wrapper_col {
		width: 85%;
	}
}
