.header {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary);
	color: var(--white);
	border-radius: 8px;
	padding: 16px 32px;
	font-size: 1rem;
	box-shadow: 0px 3px 3px var(--box-shadow);
}

.nav {
	display: flex;
	align-items: center;
	font-size: 1.12rem;
}

.list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.item {
	font-weight: 500;
	transition: color 0.15s ease;

	&:hover {
		color: var(--highlight);
	}
}

.active {
	color: var(--highlight);
	font-weight: 600;
}
