.card {
	background-color: var(--secondary);
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0px 3px 3px var(--box-shadow);
	border: 1px solid rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	align-items: center;
	position: relative;
}

.button_menu {
	border: none;
	background-color: inherit;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon_menu {
	width: 35px;
	transition: all 0.15s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--black);
		color: var(--highlight);
	}
}

.box_color {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: rgb(255, 67, 67);
}
