.overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: var(--white);
	padding: 24px;
	border-radius: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4px;
	border-bottom: 1px solid black;
}

.close_button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f74c4c;
	border: none;
	border-radius: 4px;
	padding: 4px;
}

.close_icon {
	color: var(--white);
	width: 24px;
	height: 24px;
}
