.wrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}

.wrapper_col {
	display: flex;
	align-items: center;
	gap: 16px;
}

.label {
	font-weight: 500;
}

.textarea_group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.textarea {
	height: 80px;
	resize: none;
	padding: 8px;
	border-radius: 4px;
	background-color: var(--white);
	border: 1px solid var(--box-shadow);
}

.wrapper > * {
	flex-grow: 1;
}

.error {
	color: red;
}

.container_textarea {
	display: flex;
	flex-direction: column;
	gap: 4px;

	& > * {
		width: 100%;
	}
}
