.wrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}

.wrapper_col {
	display: flex;
	align-items: center;
	gap: 16px;
}

.wrapper > * {
	flex-grow: 1;
}

.submitButton {
	padding: 8px;
	background-color: #4c69f7;
	color: var(--white);
	font-weight: 600;
	font-size: 1.05rem;
	border: none;

	cursor: pointer;
	transition: all 0.15s ease;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0px 3px 3px var(--box-shadow);
	}

	&:active {
		transform: translateY(0px) scale(0.98);
		box-shadow: 0px 0px 0px var(--box-shadow);
	}
}
