.list {
	position: absolute;
	right: -4px;
	z-index: 9;
	top: 36px;

	display: flex;
	flex-direction: column;
	gap: 8px;

	background-color: var(--secondary);
	border: 1px solid var(--box-shadow);
	padding: 8px;
	border-radius: 4px;
	box-shadow: 0px 3px 3px 1px var(--box-shadow);
}

.item {
	width: 100%;
}

.button {
	border-radius: 4px;
	width: 100%;
	padding: 6px 8px;
	border: 1px solid var(--box-shadow);
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.15s ease;

	&:hover {
		background-color: var(--black);
		color: var(--highlight);
	}
}
