.list {
	position: absolute;
	right: -24px;
	z-index: 12;
	top: 38px;

	display: flex;
	flex-direction: column;
	gap: 8px;

	background-color: var(--secondary);
	border: 1px solid var(--box-shadow);
	padding: 8px;
	border-radius: 4px;
	box-shadow: 0px 3px 3px 1px var(--box-shadow);
}

.expired {
	background-color: var(--black);
	color: var(--white);
}

.expired .button {
	background-color: var(--black);
	color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.item {
	width: 100%;
}

.button {
	border-radius: 4px;
	width: 100%;
	padding: 6px 8px;
	border: 1px solid var(--box-shadow);
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.15s ease;
	background-color: (--secondary);
	color: var(--black);

	&:hover {
		background-color: var(--black);
		color: var(--highlight);
	}
}
