.container_events {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.list_events {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.wrapper_display {
	position: relative;
}
