.button {
	background-color: var(--secondary);
	padding: 12px 32px;
	border-radius: 4px 4px 0 0;
	font-size: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.12);
	transition: all 0.15s ease;
	cursor: pointer;
	font-weight: 500;
	font-weight: 600;
	color: var(--black);

	&:hover {
		background-color: var(--black);
		color: var(--highlight);
		font-weight: 600;
	}
}
