.event {
	position: relative;
	background-color: var(--secondary);
	border-radius: 12px;
	box-shadow: 0px 3px 3px var(--box-shadow);
	border: 1px solid rgba(0, 0, 0, 0.12);

	display: flex;
	flex-direction: column;
	color: var(--black);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}

.body {
	padding-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.name {
	font-size: 1.4rem;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.wrapper_col {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
}

.button_menu {
	border: none;
	background-color: inherit;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon_menu {
	width: 35px;
	transition: all 0.15s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--black);
		color: var(--highlight);
	}
}

.active {
	background-color: var(--black);
	color: var(--highlight);
}

.date {
	font-size: 1.1rem;
	font-weight: 300;
}

.duration {
	font-size: 1.7rem;
	font-weight: 700;
}

.container_select {
	width: max-content;
	position: relative;
	cursor: pointer;
}

.durationType {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	cursor: pointer;
	padding: 6px 8px;
	font-size: 0.95rem;
	border-radius: 4px;
	background-color: var(--black);
	color: var(--white);
	width: 100%;
	margin-right: 16px;
}

.select_icon {
	width: 22px;
	position: absolute;
	right: 4px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--white);
	pointer-events: none;
}

.progress {
	width: 100%;
	height: 12px;
	appearance: none;

	&::-webkit-progress-bar {
		background: #d9d9d9;
		border-radius: 10px;
		overflow: hidden;
	}

	&::-webkit-progress-value {
		background: #00e479;
	}
}

.event_expired {
	background-color: var(--black);
	color: var(--white);
}

.event_expired * {
	color: var(--white);
}

.event_expired .body {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.expired {
	margin-top: -20px;
	background-color: #c60b0b;
	color: var(--white);
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
